<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <br>
    <h1>Tickets por rango de fechas</h1>
    <hr>
    <div class="container">
        <form method="POST">
            
            <div class="form-group">
                <h1>Fecha inicio:</h1>
                <input type="number" placeholder="dia inicio" name="diai"> 
                <input type="number" placeholder="mes inicio" name="mesi">
                <input type="number" placeholder="a침o inicio" name="anioi">  
            </div>
            <br>
            <div class="form-group">
                <h1>Fecha fin:</h1>
                <input type="number" placeholder="dia fin" name="diaf"> 
                <input type="number" placeholder="mes fin" name="mesf">
                <input type="number" placeholder="a침o fin" name="aniof">  
            </div>
            <br>
            <div class="form-group">
            <input type="submit" value="Consultar" class="btn btn-success">
            </div>
        </form>
    </div>

    <table class="table-striped table-bordered active table">
        <tr>
            <th>Fecha del ticket</th>
            <th>Correo del usuario solicitante</th>
            <th>Titulo del ticket</th>
            <th>Descripci칩n el ticket</th>
        </tr>
        <tr>
            <td>Fecha deasddddsd  dddddddddsadddddddddd dl ticket</td>
            <td>Correo del ussdaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaauario solicitante</td>
            <td>Titulo del ticket</td>
            <td>Descripciasdasd as asd asd 칩n el ticket</td>
        </tr>
    </table>
   
</body>
</html>